<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Siha's Diary 1</title>
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/list.css') }}" />
</head>

<body>
<div class="table-title">
    <h3>Siha의 일기장</h3>
</div>
<table class="table-fill">
    <thead>
    <tr>
        <th class="text-center">제목</th>
        <th class="text-center">날짜</th>
        <th class="text-center">보기</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr>
        <td class="text-left">일기장 사이트를 만들었다!</td>
        <td class="text-left">2018/08/29</td>
        <td><button class="diary-button" onclick="window.location.href='/diary?path=myfirstwebsite.txt'">보기</button></td>
    </tr>
    <tr>
        <td class="text-left">개강해져버렸다...</td>
        <td class="text-left">2018/09/02</td>
        <td><button class="diary-button" onclick="window.location.href='/diary?path=gagang.txt'">보기</button></td>
    </tr>
    <tr>
        <td class="text-left">전전회 너무 어렵다</td>
        <td class="text-left">2018/10/11</td>
        <td><button class="diary-button" onclick="window.location.href='/diary?path=eec.txt'">보기</button></td>
    </tr>
    </tbody>
</table>
</body>
</html>